  <div class="mg10 exhibiton ex01">
            <div class="exHead">
               <div class="hTxt">
                   <div class="hTxtContent"><h2>Return To Customer Details</h2></div>
                  </div>
                <div class="hLeft"></div>
                <div class="hRight"></div>
            </div>
            <div class="exBody">
            <div class="content">
                <%= form_tag update_info_customer_debit_note_path(@customer_debit_note) do %>
              <table class="list">
                 <tr>
                  <th>Return To Customer Number</th>
                  <th>Date</th>
                  <th>Customer</th>
                  <th>Status</th>
                </tr>
                <tr align="center">
                  <td><%= @customer_debit_note.cust_debit_note_number %></td>
                  <td><input type="text" size="12" id="datepicker" name="customer_debit_note[cust_debit_note_date]" value="<%= @customer_debit_note.cust_debit_note_date.strftime("%d-%m-%Y") %>"/></td>
                  <td><table border="0">
                       <tr>
                         <td style="background-color:lavender">
                            <table width="350"><tr><td bgcolor="#ffffff">
                              <% if @customer_debit_note.customer_id > 0 %>
                              <%= @customer_debit_note.customer.name %>
                              <% else %>
                                None
                              <%end%>
                            </td></tr></table>
                          </td>
                          <td>
                            <%= link_to image_tag("add_users.png", :title => "Add Customer"), add_customer_customer_debit_note_path(@customer_debit_note)%>
                          </td>
                       </tr>
                    </table></td>
                  <td><%= raw @customer_debit_note.status %> </td>
                </tr>
                </table>
              <table class="list">
                <tr align="left">
                 <th align="left">Remark</th>
              </tr>
              <tr align="left">
              <td colspan="8"> <%= text_area_tag "customer_debit_note[remark]", @customer_debit_note.remark,{:style=>"width:600px;height:15px; "}  %></td>
              </tr>
              </table>
             
                 <%= submit_tag "Update info" %>
             
              <% end %>
              </div>
            </div>
          <div class="exFoot">
              <div class="fLeft"></div>
              <div class="fRight"></div>
          </div>
          </div>
<script>
	$(function() {
		$( "#datepicker" ).datepicker({
			showOn: "button",
			buttonImage: "/images/calendar2.png",
			buttonImageOnly: true,
                        dateFormat: 'dd-mm-yy'
		});
	});
	</script>