<% title "Listing Return To Customers" %>
<%= link_to image_tag("new.png"), new_customer_debit_note_path %>
<br /><br />
<%= render 'search_form'  %>
<br />
<hr />
<br />
<div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Return To Customer</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content">
                <%= will_paginate @customer_debit_notes %>
                <br />
                <table class="list">
                  <tr>
                    <th>Date</th>
                    <th>Return To Customer Number</th>
                    <th align="left">Customer</th>
                    <th>Status</th>
                    <th>Post Quantity Status</th>
                    <th>Void Status</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>
                  </tr>

                <% @customer_debit_notes.each do |customer_debit_note| %>
                  <tr class="<%= cycle "odd", "even"  %> " style="text-align: center">
                    <td><%= customer_debit_note.cust_debit_note_date.strftime("%d-%m-%Y") %></td>
                    <td><%= customer_debit_note.cust_debit_note_number %></td>
                    <td align="left"><%= customer_debit_note.customer.name rescue "-" %></td>
                    <td align="center"><%=raw customer_debit_note.status %></td>
                    <td align="center"><%=raw customer_debit_note.quantity_post_status %></td>
                     <td align="center"><%=raw customer_debit_note.void_status %></td>
                    <td><%= link_to 'Edit', edit_customer_debit_note_path(customer_debit_note) %>
                    | <%= link_to 'Destroy', customer_debit_note, :confirm => 'Are you sure?', :method => :delete %></td>
                  </tr>
                <% end %>
                </table>

</div>
</div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
    </div>