<%= simple_form_for(@payment_method) do |f| %>
  <% if @payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :payment_name %>
    <%= f.input :description %>
     <%= f.input :check, :label => "Extra Info" %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
