<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Invoice Item Details</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
               <table class="flexi" style="font-size: 13px">
               <thead>
                <tr>
                   <th width="100" align="center" style="font-size: 12px"><strong>No</th>
                   <th width="250" align="center" style="font-size: 12px"><strong>DO No</strong></th>
                   <th width="250" align="center" style="font-size: 12px"><strong>Amount</strong></th>
                   <th width="600" align="center" style="font-size: 12px"><strong>Remark</strong></th>
                  </tr>
               </thead>
               <tbody>
                <% total_amount = 0  %>
                <% line = 0 %>
                  <% @items.each do |i| %>
                  <% item_total = i.delivery_order.total_amount %>
                  <% total_amount += item_total %>
                  <% line += 1%>

                    <tr class="<%= cycle("odd", "even") %>" align="center">
                    <td align="center"><%= line.to_s %></td>
                    <td align="center"><%= i.delivery_order.delivery_order_number   %></td>
                    <td align="right"><%= "%.2f" %item_total %></td>
                    <td align="center"><%= i.remark rescue"-" %></td>
                    <% end %>
                  </tr>
                

                </tbody>
              </table>
           <table>
                <tr>
                <td colspan="2" align="right" width="570px"><strong>Total Amount : </strong> <%= total_amount %></td>
                </tr>

              </table>
          </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>
<script type="text/javascript">
 $('.flexi').flexigrid({width: $('#header').width() - 70});
 </script>
  







