<script>
	$(function() {
		$( "#datepicker" ).datepicker();

	});
	</script>
<div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Return To Supplier</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content">
                <%= form_for @search, :as =>  :search, :html => {:method => :get} do |f| %>
                <table class="list" style="width: auto">
                    <tr>
                    <th align="center">Date</th>
                    <th align="left">Return To Supplier Number</th>
                    <th align="center">Supplier</th>
                    <th align="center">Status</th>
                    <th align="center">Post Quantity Status</th>
                    <th align="center">Void Status</th>
                    <th>Action</th>
                    </tr>
                    <tr>
                      
                      <td><input type="text" size="24"id="datepicker" name="search[supplier_credit_note_date_equals]"/></td>
                      <td><%= f.text_field :supplier_credit_note_number_like %></td>
                      <td><%= f.select :supplier_id_equals, Supplier.all(:order => "name").map {|c| [c.name, c.id]} , {:include_blank => true} %></td>
                      <td align="center"><%= f.select :settled_equals, [["Completed", true],["Processing", false]], {:include_blank => true} %></td>
                      <td align="center"><%= f.select :posted_equals, [["Posted Quantity", true],["Unpost Quantity", false]], {:include_blank => true} %></td>
                        <td align="center"><%= f.select :voided_equals, [["Voided", true],["Unvoided", false]], {:include_blank => true} %></td>
                      <td align="center"><%= f.submit "Search" %></td>

                   </tr>

                </table>

                  <% end %>
                  <br />
                  </div>
</div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
    </div>