<%= stylesheet_link_tag 'print',:media => "print"%>

<a href="#" onclick="window.print();return false;">Print</a>

<div class="print">
<table align="center">
    <% @settings.each do |setting| %>
   <tr>
     <td align="center" style="font-size: 28"><%= setting.company_name rescue'-' %></td>
   </tr>
   <tr>
     <td align="center"><%= setting.company_address_one rescue'-' %></td>
   </tr>
   <tr>
     <td align="center"><%= setting.company_address_two rescue'-' %></td>
   </tr>
   <tr>
     <td align="center">
       <%= setting.company_postcode rescue'-'  %>,
       <%= setting.company_city rescue'-' %>,
       <%= setting.company_country rescue'-' %>
     </td>
   </tr>
   <tr>
     <td align="center">
      &nbsp;&nbsp; TEL NO: <%= setting.phone_number rescue'-'  %>  &nbsp;
            FAX NO: <%= setting.fax_number rescue'-' %>
     </td>
   </tr>
   <% end %>
 </table>
<%= image_tag("plist.png")%>

<table style="width: 100%">
    <tr>
      <td  style="width: 45%">
        <table  style=" border:solid" >
          <tr>
          <th align="right"style="width: 10%"><strong>Bill To : </strong> </th>
          <td style="width: 60%"><%= @packing_list.customer.name %></td>
          </tr>
         <tr>
          <td valign="top"></td>
          <td> <%= @packing_list.customer.address %><br />
              <%= @packing_list.customer.postcode %>
          </td>
          </tr>
          <tr>
          <td align="right"> <strong>Contact: </strong></td>
          <td> <%= @packing_list.customer.contact_person %> 
               <strong>Tel:  </strong><%= @packing_list.customer.office_contact %>
               <strong>Fax:  </strong><%= @packing_list.customer.fax_number %>
          </td>
          </tr>

        
        </table>
      </td>
      <td style="width: 5%"></td>
     <td style="width: 50%">
        <table>
          <tr>
             <th align="left">PL No</th>
             <th align="left">&nbsp;:</th>
             <td>&nbsp;&nbsp;<%= @packing_list.packing_list_number %></td>
         </tr>
          <tr>
            <th align="left">Date </th>
            <th align="left">&nbsp;:</th>
            <td>&nbsp;&nbsp;<%= @packing_list.packing_list_date.strftime("%d-%m-%Y") %></td>
         </tr>
         
        
        <tr>
          <th align="left">Term </th>
          <th align="left">&nbsp;:</th>
          <td>&nbsp;&nbsp; <%= @packing_list.term %></td>
        </tr>
        <tr>
            <td align ="left"><strong>Salesman</strong> </td>
            <th align="left">&nbsp;:</th>
            <td>&nbsp;&nbsp;<%= @packing_list.salesman.name %></td>
        </tr>
        </table>
        
      </td></tr>

</table>
<br />

 <%#*<div class="printdiv">%>
<fieldset style="width: 96%; height: 1050px; border-style: none">
<table style="width: 100%" cellpadding="2" cellspacing="0">
  <tr>
    <th align="center"style="border-bottom:outset "> No </th>
        <th align="left"style="border-bottom:outset ">Code</th>
        <th align="left"style="border-bottom:outset ">Description</th>
	<th align="left"style="border-bottom:outset ">UOM</th>
	<th align="left"style="border-bottom:outset ">Quantity</th>
        <th align="right" style="border-bottom:outset ">Unit Price</th>
        <th align="right" style="border-bottom:outset ">Discount %</th>
	<th align="right" style="border-bottom:outset ">Total</th>
  </tr>

  <% line = 0 %>
  <% total = 0.00 %>
  <% @packing_list.packing_list_items.each do |c|  %>
  <% line += 1%>
  <% total += c.total %>
  <tr>
     <td align="center"><%= line.to_s %></td>
     <% if  c.product.mixed_items.any?%>
     <td><strong><%= c.product.code %> </strong>(bundle Item)</td>
     <%else%>
     <td><strong><%= c.product.code %></strong></td>
     <%end%>
     <td><%= c.product.full_description %></td>
     <td align="left"><%= c.product_uom.name rescue "-" %></td>
     <td align="left"><%= c.quantity %></td>
     <td align="right"><%= "%.2f" % c.unit_price %></td>
     <td align="right"><%=  c.discounts %></td>
     <td align="right"> <%= number_with_precision(c.sales_order_item.total_after_disc, :precision => 2) %></td>
  </tr>
  
         <% if c.product.is_mixed? %>
          <% c.product.mixed_items.each do |p| %>
         
          <tr>
             <td></td>
             <td  align="left"><%= p.product.code  %></td>
             <td  align="left"><%= p.product.short_description %></td>
             <td align="left"><%= p.product_uom.name rescue"-"%></td>
             <td align="left"><%= p.quantity %></td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
          <% end %>
        <% end %>
      
  <% end %>

  
</table>
  </fieldset>
  <hr>
  <table style="float:right">
    <tr>
      <th> TOTAL AMOUNT: </th>
      <td>
        <table style="border:solid; float:right" >
          <tr>
              <th style="text-align: right"> <%= "%.2f" % total %></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br/>
  <br>
<hr>
<table style="width:100%">
  <tr>
    <td>Received by:</td>
  </tr>
  <tr>
    <td style="height: 150px">---------------------------------------------- <br>Authorized Signature & Company Stamp</td>
    
</table>

</div>



