<% content_for :head do %>
  <%= javascript_include_tag "smo" %>
<% end %>
 <%= link_to image_tag("backs.png", :title => "Back"),edit_purchase_requisition_path(@purchase_requisition) %>
<%= form_tag removed_item_purchase_requisition_path(@purchase_requisition) do %>
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
            <div class="hTxtContent"><h2>Purchase Requisition Item</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody" height ="">
        <div class="content">

            <table class="flexi" style="font-size: 12px">
             <thead>
              <tr>
                <th width="50" align="center" style="font-size: 12px"><strong><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></strong></th>
                <th width="120" align="center" style="font-size: 12px"><strong>Status</strong></th>
                <th width="180" align="center" style="font-size: 12px"><strong>Code</strong></th>
                <th width="350" align="center" style="font-size: 12px"><strong>Description</strong></th>
                <th width="150" align="center" style="font-size: 12px"><strong>UOM</strong></th>
                <th width="350" align="center" style="font-size: 12px"><strong>Supplier</strong></th>
              </tr>
             </thead>
             <tbody>
            <% @purchase_requisition.purchase_requisition_items.each do |p| %>
              <tr class="<%= cycle "odd", "even"  %> ">
                <td style="text-align: center"><%= check_box_tag("item[#{p.id.to_s}][selected]", {}, p.confirmed?)  %> </td>
                <td align="center"><%=raw p.status  %> </td>
                <td style="text-align: center"><%= p.product.code  %> </td>
                <td style="text-align: center"><%= p.product.full_description  %> </td>
                <td style="text-align: center"><%= p.product_uom.name rescue "-" %>
                <td style="text-align: center"><%= p.supplier.name rescue"-" %> </td>
               
              
              </tr>

              <% end %>
               </tbody>
            </table>
         <%= submit_tag "Remove items" unless @purchase_requisition.purchase_requisition_items.empty? %>


 </div>
    </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>

<% end %>

 <script type="text/javascript">
 $('.flexi').flexigrid({width: $('#header').width() - 80});
 </script>



<hr><br>

  <div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
            <div class="hTxtContent"><h2>Add Item</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody" height ="">
        <div class="content">
            <%= render 'for_search' %>
          </div>
    </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>


           