<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Quantity Product </h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
      <table class="list"  >
          <tr>
             <th align="center">UOM</th>
             <th align="center">On Hand</th>
             <th align="center">Purchase Order</th>
             <th align="center">Packing List</th>
             <th align="center">Balance</th>
          </tr>
         <% @result.each do |v| %>
	<tr class="<%= cycle "odd", "even"  %> " style="text-align: center">
		   <td align="center"><%= v.product_uom.name rescue "-" %> </td>
                   <td align="center"><%= v.on_hand_quantity  %> </td>
                   <td align="center"><%= v.virtual_order_quantity  %> </td>
                   <td align="center"><%= v.virtual_packing_quantity  %> </td>
                   <td align="center"><%= v.balance rescue "0"  %> </td>
		</tr>
               
                <% end %>
	</table>
 
</div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>
