<h1>Listing stock_counts</h1>

<table>
  <tr>
    <th>Stock location</th>
    <th>Product uom</th>
    <th>Opening balance</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_counts.each do |stock_count| %>
  <tr>
    <td><%= stock_count.stock_location_id %></td>
    <td><%= stock_count.product_uom_id %></td>
    <td><%= stock_count.opening_balance %></td>
    <td><%= stock_count.quantity %></td>
    <td><%= link_to 'Show', stock_count %></td>
    <td><%= link_to 'Edit', edit_stock_count_path(stock_count) %></td>
    <td><%= link_to 'Destroy', stock_count, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock count', new_stock_count_path %>
