<% title "Listing customer" %>

<%= link_to image_tag("new.png"), new_customer_path %>
<br /><br />
<%= render "search" %>
<br><hr/><br>
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Customers</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
                  <%= will_paginate @customers %>
                  <br />
                  <table class="list">
                    <tr>
                      <th style="text-align: left">Code</th>
                      <th style="text-align: left">Name</th>
                      <th style="text-align: left">Company number</th>
                      <th style="text-align: left">City</th>
                      <th style="text-align: left">Email</th>
                      <th style="text-align: left">Office contact</th>
                      <th style="text-align: left">Fax number</th>
                      <th style="text-align: left">Term</th>
                      <th>Suspend</th>
                      <th>Action</th>
                    </tr>

                  <% @customers.each do |customer| %>
                     <tr class="<%= cycle "odd", "even"  %> ">
                      <td><%= customer.code %></td>
                      <td><%= customer.name %></td>
                      <td><%= customer.company_number %></td>
                      <td><%= customer.city.name rescue "-" %></td>
                      <td><%= customer.email %></td>
                      <td><%= customer.office_contact %></td>
                      <td><%= customer.fax_number %></td>
                      <td><%= customer.term %></td>
                      <td style="text-align: center"><%= customer.suspend %></td>
                      <td style="text-align: center"><%= link_to 'Show', customer %> |
                      <%= link_to 'Edit', edit_customer_path(customer) %> |
                      <%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
                    </tr>
                  <% end %>
                  </table>
                  <br />
                  <%= will_paginate @customers %>
                  <br />
                  <br />
                 

          </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>
