      <div class="mg10 exhibiton ex01">
                  <div class="exHead">
                     <div class="hTxt">
                         <div class="hTxtContent"><h2>Customer Payment Items Details</h2></div>
                        </div>
                      <div class="hLeft"></div>
                      <div class="hRight"></div>
                  </div>
                  <div class="exBody">
                  <div class="content">

                   <table class="flexi" style="font-size: 12px">
               <thead>
                <tr>
                   <th width="50" align="center" style="font-size: 12px">No</th>
                   <th width="200" align="center" style="font-size: 12px"><strong>Invoice Date</strong></th>
                   <th width="200" align="center" style="font-size: 12px"><strong>Invoice No</strong></th>
                   <th width="150" align="center" style="font-size: 12px"><strong>Amount</strong></th>
                   <th width="150" align="center" style="font-size: 12px"><strong>Paid amount</strong></th>
                   <th width="150" align="center" style="font-size: 12px"><strong>Balance</strong></th>
                   <th width="300" align="center" style="font-size: 12px"><strong>Remark</strong></th>
               </tr>
               </thead>
              <tbody>
                             <% line = 0 %>
                            <% total_amount = 0  %>
                            <% total_balance = 0  %>
                            <% total_paid = 0  %>
                            <% @items.each do |i| %>
                              <% item_total = i.invoice.total_amount %>
                              <% total_amount += item_total %>
                              <% balance = item_total - i.total_paid_amount %>
                              <% total_balance += balance %>
                              <% total_paid += i.paid_amount %>
                              <% line += 1%>
                            <tr class="<%= cycle("odd", "even") %>" align="center">
                              <td align="center"><%= line.to_s %></td>
                               <td align="center"><%= i.invoice.invoice_date.strftime("%d-%m-%Y")  %> - <%= i.invoice.end_invoice_date.strftime("%d-%m-%Y")  %></td>
                              <td align="center"><%= i.invoice.invoice_number   %></td>
                              <td align="center"><%= "%.2f" %item_total %></td>
                              <td align="center"><%= "%.2f" % i.paid_amount  %></td>
                              <td align="center"><%= "%.2f" %balance%></td>
                              <td align="center"><%=i.remark%></td>
                            <% end %>
                            </tr>
                           
                          </table>
                    <table>
                <tr>
                
                    <td align="center" width="480px"><strong></strong> </td>
                    <td align="center" width="150px"><strong>Total Amount : </strong> <%= "%.2f" %total_amount %></td>
                    <td align="center" width="150px"><strong>Total Paid: </strong> <%= "%.2f" %total_paid %></td>
                    <td align="center" width="150px"><strong>Total Balance : </strong> <%= "%.2f" %total_balance %></td>
                  <td></td>
                </tr>
              </table>
              </div>
            </div>
          <div class="exFoot">
              <div class="fLeft"></div>
              <div class="fRight"></div>
          </div>
          </div>
<script type="text/javascript">
   $('.flexi').flexigrid({width: $('#header').width() - 80});
</script>