<% title "Listing Goods Receive Note"  %>

<%= link_to image_tag("new.png", :title => "new"), new_goods_receive_note_path %>
<br /><br />
<%= render "search" %>
<br/><hr/><br/>
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
            <div class="hTxtContent"><h2>Good Receive Note</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
            <%= will_paginate @goods_receive_notes  %>
            <br />
            <table class="list">
              <thead>
              <tr>
                
                <th align="left">Date</th>
                <th align="left">GRN NUmber</th>
                <th align="left">S/N</th>
                <th align="left">DO No</th>
                <th align="left">Invoice No</th>
                <th align="left">PO No</th>
                <th align="left">Supplier</th>
                <th>Status</th>
                <th>Void Status</th>
                <th>Action</th>
              </tr>
            </thead>
               <tbody>

            <% @goods_receive_notes.each do |goods_receive_note| %>
              <tr class="<%= cycle("odd", "even") %>">
                
                <td><%=h goods_receive_note.grn_date.strftime("%d-%m-%Y") %></td>
                <td><%=h goods_receive_note.grn_number %></td>
                <td><%=h goods_receive_note.serial_number %></td>
                <td><%=h goods_receive_note.do_number %></td>
                <td><%=h goods_receive_note.invoice_number %></td>
                <td><%=h goods_receive_note.purchase_order.purchase_order_number %></td>
                <td><%=h goods_receive_note.supplier.name %></td>
                <td align="center"><%=raw goods_receive_note.status %></td>
                 <td align="center"><%=raw goods_receive_note.void_status %></td>
                <td align="center"><%= link_to 'Edit', goods_receive_note %> |

                <%= link_to 'Destroy', goods_receive_note, :confirm => 'Are you sure?', :method => :delete %></td>
              </tr>
            <% end %>
             </tbody>
            </table>
 </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>



