<% title "Listing Settled Purchase Orders" %>
<%= link_to "Back", new_goods_receive_note_path %>
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Settled Purchase Order</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
<%= will_paginate @po %>
<br />
<table class="list">
  <tr>
    <th>Date</th>
    <th>PO No</th>
    <th>Supplier</th>
    <th>Term</th>
    <th>Voided</th>
    <th>Settled</th>
   

  </tr>

<% @po.each do |purchase_order| %>
  <tr class="<%= cycle "odd", "even"  %> " style="text-align: center">
    <td><%= purchase_order.purchase_order_date %></td>
    <td><%= purchase_order.purchase_order_number %></td>
    <td><%= purchase_order.supplier.name %></td>
    <td><%= purchase_order.term %></td>
    <td><%= purchase_order.voided %></td>
    <td><%= raw  purchase_order.current_status%></td>
  </tr>
<% end %>
</table>
<br />
<%= will_paginate @po %>
<br />
            <br />
 </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>


