<% content_for :head do %>
  <%= javascript_include_tag "smo" %>
<% end %>
 <%= link_to image_tag("backs.png", :title => "Back"), edit_pack_path(@pack) %>
<%#= link_to 'Back', edit_pack_path(@pack) %>
 <div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Pack Items</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content">
                  <%= form_tag removed_item_pack_path(@pack) do %>
                  <table class="flexi" style="font-size: 12px">
                   <thead>
                    <tr>
                      <th width="100" align="center"style="font-size: 12px"><strong><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></strong></th>
                      <th width="200" align="center"style="font-size: 12px"><strong>Code</strong></th>
                      <th width="200" align="center"style="font-size: 12px"><strong>UOM</strong></th>
                       <th width="200" align="center"style="font-size: 12px"><strong>Stock Location</strong></th>
                      <th width="600" align="center"style="font-size: 12px"><strong>Description</strong></th>
                      
                     
                    </tr>
                     </thead>
                   <tbody>
                  <% @pack.pack_items.each do |p| %>
                    <tr class="<%= cycle "odd", "even"  %> ">
                      <td align="center"><%= check_box_tag("item[#{p.id.to_s}][selected]")%></td>
                      <td style="text-align: center"><%= p.product.code  %> </td>
                      <td style="text-align: center"><%= p.product_uom.name rescue "-"%> </td>
                      <td style="text-align: center"><%= p.stock_location.product_rack.name rescue "-"%> </td>
                      <td style="text-align: center"><%= p.product.full_description  %> </td>
                    </tr>
                   </tbody>
                   <% end %>
                  </table>
                       <%= submit_tag "Remove items" unless @pack.pack_items.empty? %>
                  <% end %>
                  <script type="text/javascript">
                   $('.flexi').flexigrid({width: $('#header').width() - 80});
                   </script>

                  </fieldset>
  </div>
  </div>
      <div class="exFoot">
          <div class="fLeft"></div>
          <div class="fRight"></div>
      </div>
      </div>
<hr>
        <div class="mg10 exhibiton ex01">
            <div class="exHead">
               <div class="hTxt">
                   <div class="hTxtContent"><h2>Add Pack Items</h2></div>
                  </div>
                <div class="hLeft"></div>
                <div class="hRight"></div>
            </div>
            <div class="exBody">
            <div class="content">
                <%= render "add_item" %>
            </div>
            </div>
          <div class="exFoot">
              <div class="fLeft"></div>
              <div class="fRight"></div>
          </div>
          </div>