<%= link_to 'Edit', edit_price_level_path(@price_level) %> |
<%= link_to 'Back', price_levels_path %>
<%#= link_to image_tag("backs.png", :title => "Back"),price_levels_path%>
<%#= link_to image_tag("edits.png", :title => "edit"),edit_price_level_path(@price_level)%>
<%#*<br />%>
<div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Price Level Details</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content">
                <p>
                  <b>Name:</b>
                  <%= @price_level.name %>
                </p>

                <p>
                  <b>Description:</b>
                  <%= @price_level.description %>
                </p>

                <p>
                  <b>Disabled:</b>
                  <%= @price_level.disabled %>
                </p>
</div>
</div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
    </div>


