<%= form_for @search, :url => {:action => "add_supplier"} do |f| %>
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Supplier Search</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
             
                 <table class="list" style="width: auto">
                <thead>
                      <tr>
                       <th>Code</th>
                       <th>Name</th>
                       <th>City</th>
                       <th></th>
                      </tr>
                      </thead>
                 <tbody>
                      <tr align="center">
                        <td><%= f.text_field :code_like %></td>
                        <td><%= f.text_field :name_like %></td>
                        <td><%= f.select :city_id_equals, City.all(:order => "name").map{|c| [c.name, c.id]}, {:include_blank => true} %></td>
                        <td><%= f.submit "Search" %></td>
                      </tr>
                      </tbody>
              </table>

              <% end %>
</div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>
