<% title "Listing Received From Supplier" %>
<%= link_to image_tag("new.png"), new_supplier_debit_note_path %>
<br /><br />
<%= render 'search_form'  %>
<br><hr><br>
<div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Received From Supplier</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content">
                  <%= will_paginate @supplier_debit_notes %>
                  <br />
                  <table class="list">
                    <tr>

                      <th>Date</th>
                      <th>Received From Supplier Number</th>
                      <th align="left">Supplier</th>
                       <th>Status</th>
                       <th>Post Quantity Status</th>
                       <th>Void Status</th>
                       <th>Action</th>
                      <th></th>
                      <th></th>
                    </tr>

                  <% @supplier_debit_notes.each do |supplier_debit_note| %>
                    <tr class="<%= cycle "odd", "even"  %> " style="text-align: center">
                      <td><%= supplier_debit_note.supplier_debit_note_date.strftime("%d-%m-%Y") %></td>
                      <td><%= supplier_debit_note.supplier_debit_note_number %></td>
                      <td align="left"><%= supplier_debit_note.supplier.name rescue "-" %></td>
                      <td align="center"><%=raw supplier_debit_note.status %></td>
                      <td align="center"><%=raw supplier_debit_note.quantity_post_status %></td>
                      <td align="center"><%=raw supplier_debit_note.void_status %></td>
                      <td><%= link_to 'Edit', edit_supplier_debit_note_path(supplier_debit_note) %>
                      | <%= link_to 'Destroy', supplier_debit_note, :confirm => 'Are you sure?', :method => :delete %></td>
                    </tr>
                  <% end %>
                  </table>
</div>
</div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
    </div>
