
<% title "Listing Product Locations" %>
<%= link_to image_tag("new.png"), new_product_location_path %>
<br /><br />
<div class="mg10 exhibiton ex01">
    <div class="exHead">
        <div class="hTxt">
           <div class="hTxtContent"><h2>Product Location</h2></div>
        </div>
        <div class="hLeft"></div>
        <div class="hRight"></div>
    </div>
    <div class="exBody">
        <div class="content">
            <table class="list">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Disabled</th>
                <th>Action</th>

              </tr>

            <% @product_locations.each do |product_location| %>
              <tr class="<%= cycle "odd", "even"  %> " style="text-align: center">
                <td><%= product_location.name %></td>
                <td><%= product_location.description %></td>
                <td><%= product_location.disabled %></td>
                <td><%= link_to 'Show', product_location %>
                | <%= link_to 'Edit', edit_product_location_path(product_location) %>
                | <%= link_to 'Destroy', product_location, :confirm => 'This will delete the attached stocks as well. Are you sure?', :method => :delete %></td>
              </tr>
            <% end %>
            </table>

            <br />

 </div>
   </div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
</div>

