<div class="mg10 exhibiton ex01">
        <div class="exHead">
            <div class="hTxt">
               <div class="hTxtContent"><h2>Stock Disposal Details</h2></div>
            </div>
            <div class="hLeft"></div>
            <div class="hRight"></div>
        </div>
        <div class="exBody">
            <div class="content"><br/>
                <table class="list">
                   <tr>
                    <th>Date</th>
                    <th>Stock Disposal Number</th>
                    <th>User</th>
                    <th>Status</th>
                  </tr>
                  <tr align="center">
                    <td><%=  @stock_disposal.stock_disposal_date %></td>
                    <td><%=h @stock_disposal.stock_disposal_number %></td>
                    <td><%=h @stock_disposal.user.name  rescue "-" %></td>
                    <% if @stock_disposal.voided? %>
                      <td><%=raw @stock_disposal.void_status %></td>
                    <%else%>
                      <td align="center"><%=raw @stock_disposal.status %> </td>
                    <%end%>
                  </tr>
                  </table>
              
                <table class="list">
                  <tr align="left">
                   <th align="left">Remark</th>
                </tr>
                <tr align="left">
                <td colspan="8"> <%= @stock_disposal.remark %></td>
                </tr>
                </table>
 </div>
</div>
    <div class="exFoot">
        <div class="fLeft"></div>
        <div class="fRight"></div>
    </div>
    </div>